@model AppNet.Services.ViewModels.RoleViewModel

@{
    ViewBag.Title = "RoleDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RoleDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoleViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsError)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOnStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedByName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOnStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOnStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Roles")
        </div>
    }
</div>
